<div class="users-new slider">
  <div id="form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div id="name">
        <%= f.input :first_name, autofocus: true, required: true, label: false, placeholder: "First name" %>
        <%= f.input :last_name, required: true, label: false, placeholder: "Last name" %>
      </div>

      <div id="location">
        <%= f.input :city, required: true, label: false, placeholder: "City" %>
        <%= f.input :country, required: true, label: false, prompt: "Country" %>
      </div>
      <div id="more-info">
        <%= f.input :email, required: true, label: false, placeholder: "E-mail" %>
        <%= f.input :gender, collection: User.genders.keys, as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false, label: false%>
      </div>
      <div id="password">
        <%= f.input :password, required: true, placeholder: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, placeholder: "Password" %>
        <%= f.input :password_confirmation, required: true, label: false, placeholder: "Password confirmation" %>
      </div>
      <%= f.input :bio, label: false, placeholder: 'Biographie' %>

      <div id="favorite">
        <%= f.input :book, label: false, placeholder: "Favorite book" %>
        <%= f.input :movie, label: false, placeholder: 'Favorite movie' %>
        <%= f.input :music, label: false, placeholder: 'Favorite music' %>
      </div>

      <% if session[:birthday].nil? %>
        <%= f.input :birthday,
                    start_year: Date.today.year - 110,
                    end_year: Date.today.year,
                    as: :date
        %>
      <% else %>
        <div class="display-none">
          <%= f.input :birthday,
                      start_year: Date.today.year - 110,
                      end_year: Date.today.year,
                      selected: DateTime.parse(session[:birthday].to_s)
          %>
        </div>
      <% end %>
      <div class="photo">
        <%= f.input :photo, as: :attachinary %>
      </div>
      <div class="submit-btn">
        <%= f.button :submit, "Sign up", style: 'width: 100%;' %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'slider-home' %>
