<div id="users-index">
  <!-- <div id="form-responsive">
    <%= simple_form_for :selection, url: selection_path, method: :get do |f| %>
      <div id="filters">
        <div id="date-select">
          <%= f.input :birthdate, as: :date, start_year: Date.today.year - 110, end_year: Date.today.year, label: false, selected: @birthday %>
        </div>
        <%= render 'range' %>
        <div id="gender-box">
          <%= f.input :male, as: :boolean, class: "margin-zero" %>
          <%= f.input :female, as: :boolean, class: "margin-zero" %>
        </div>
      </div>
      <div id="find-container">
        <h1 id="find-btn"><%= f.button :submit, 'FIND' %></h1>
      </div>
    <% end %>
  </div> -->

  <div id="users-container">
    <div id="users-list">
      <% @users.each do |user| %>
        <%= link_to user do %>
          <div class="profile-picture">
            <%= default_image_tag(user) %>
            <!-- <%= user.gender == 'male' ? (image_tag 'elements/Avatar bleu-01.png', alt: 'avatar', id: "avatar") : (image_tag 'elements/Avatar rose-01.png', alt: 'avatar', id: "avatar") %> -->
            <p class="username"><%= user.full_name %></p>
            <p class="location"><%= user.location %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="map-container">
      <!-- <%= image_tag 'elements/picto carte-01.png', alt: 'map', id: 'icone-world' %> -->
      <div id="map">
      </div>
    </div>
  </div>
</div>

<%= render 'shared/map' %>
