<div id="channel-list">
  <!-- <p class="btn-create"><%= link_to "Create a new channel", new_channel_path %></p> -->

  <!-- <h1><%= @channel.default_name(current_user) %></h1> -->
  <h1>Your Twweams</h1>
  <!-- <% if @channel.one_to_one? || @admin %>
    <%= link_to "edit", edit_channel_path(@channel) %>
  <% end %> -->

  <ul class="channels-users">
    <li>
      <% @subscriptions.each do |subscription| %>
        <% if !current_user?(subscription.user) && (current_user.birthday == subscription.user.birthday) %>
          <li><%= link_to subscription.user.alias %></li>
        <% end %>
      <% end %>
    </li>
  </ul>

  <!-- <h2> channel list </h2> -->

  <!-- <ul>
    <% current_user.channels.each do |channel| %>
      <li>
        <% if current_user.messages.last == nil %>
          <% current_user.messages.last == 0 %>
        <% end %>
        <div <%= unread_channel_class(current_user, channel, @channel)%> >
          <%= link_to channel.default_name(current_user), channel %>
        </div>
      </li>
    <% end %>
  </ul> -->
</div>
