
<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-01.png" %>
  <% end %>
  <% if user_signed_in? && controller_name == 'users' && action_name == 'index' %>
    <!-- <div id="form-navbar">
      <%= simple_form_for :selection, url: selection_path, method: :get do |f| %>
        <div id="date-select">
          <%= f.input :birthdate, as: :date, start_year: Date.today.year - 110, end_year: Date.today.year, label: false, selected: @birthday %>
        </div>
        <%= render 'range' %>
        <div id="gender-box">
          <%= f.input :male, as: :boolean, class: "margin-zero" %>
          <%= f.input :female, as: :boolean, class: "margin-zero" %>
        </div>
        <h1 id="find-btn"><%= f.button :submit, 'FIND' %></h1>
      <% end %>
    </div> -->
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
      <!-- Notification -->
      <%= link_to channel_path(Channel.first), class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="badge-container">
          <%= image_tag 'elements/Courrier-01.png', alt: 'menu-item', class: "courrier" %>
          <!-- <div class="badge badge-blue">3</div> -->
        </div>
      <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "elements/man.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to current_user do %>
                <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <%= t(".profile", default: "Edit Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->


  <div class="navbar-wagon-item hidden-md hidden-lg" id="navbar-smartphone">

    <% if user_signed_in? %>

      <%= link_to channel_path(Channel.first), class: "navbar-wagon-item navbar-wagon-link" do %>
        <div class="badge-container">
          <%= image_tag 'elements/Courrier-01.png', alt: 'menu-item', class: "courrier" %>
          <!-- <div class="badge badge-blue">3</div> -->
        </div>
      <% end %>
      <div class="dropdown">
        <%= image_tag 'elements/Menu-01.png', alt: 'dropdown', id:'dropdown-bars', class: 'dropdown-toggle', data: {toggle: 'dropdown'} %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to current_user do %>
              <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path do %>
              <%= t(".profile", default: "Edit Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
      <% else %>

        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <% end %>
  </div>
</div>
